/* home */
@use "../components/article";
@use "../components/footer";

.Title {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-9);
    font-size: var(--font-size-fluid-3);
    letter-spacing: var(--font-letterspacing-2);
    color: var(--indigo-9);
}

.Author {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-fluid-3);
    letter-spacing: var(--font-letterspacing-2);
    color: var(--indigo-9);
}

body {
    display: grid;
    gap: 2rem;
    width: min(100% - 2rem, 100ch);
    margin-inline: auto;
    background-image: var(--gradient-28);
}

header {
    display: grid;
    gap: 2rem;
}