/* home */
@use "../components/article";
@use "../components/footer";

body {
    display: grid;
    gap: 2rem;
    width: min(100% - 2rem, 100ch);
    margin-inline: auto;
}

header {
    display: grid;
    gap: 2rem;
}